/* ================================= 
  Importing Partials
==================================== */
/* ================================= 
  Mixins
==================================== */
/* ================================= 
  Flexbox Styles
==================================== */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.item {
  color: goldenrod;
  padding: 10px;
  margin: 3px;
  background: black;
  border-radius: 3px;
}

.item-menu {
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
  height: 56px;
  color: #fff;
  background-color: #333645;
  border-color: #333645;
  margin-left: 20px;
}

.container-two {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 11px;
  white-space: nowrap;
}

.item-search {
  color: goldenrod;
  padding: 10px;
  margin: 3px;
  background: black;
  border-radius: 3px;
}

.spare-two {
  /* container-two */
  width: 100%;
}
