.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

.item {
  color: goldenrod;
  padding: 10px;
  margin: 5px;
  background: black;
  border-radius: 3px;
}

.container-two {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  width: 100%;
  align-items: center;
}

.item-search {
  color: goldenrod;
  padding: 10px;
  margin: 3px;
  background: black;
  border-radius: 3px;
}

