/* ================================= 
  Important Styles - Styles.scss
==================================== */

*, :after, :before {
  box-sizing: border-box;
}

.pull-left {
  float: left!important;
}

/* ================================= 
  Importing Partials - Styles.scss
==================================== */

@import 'partials/mixins.scss',
        'partials/flexbox.scss';

/* ================================= 
  Font Styles - Styles.scss
==================================== */

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?35lt8l');
  src:  url('../assets/fonts/icomoon.eot?35lt8l#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?35lt8l') format('truetype'),
    url('../assets/fonts/icomoon.woff?35lt8l') format('woff'),
    url('../assets/fonts/icomoon.svg?35lt8l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
  content: "\e900";
}
.icon-send:before {
  content: "\e900";
}
.icon-flight:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e900";
}
.icon-phone_in_talk:before {
  content: "\e901";
}
.icon-mouse:before {
  content: "\e902";
}
.icon-magnifying-glass:before {
  content: "\e903";
}


/* ================================= 
  Base Page Styles - Styles.scss
==================================== */

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
  height: 100%;
  background-color: #fff;
}

header {
  display: block;
  background-color: #fff;
}

/* ---- Header Specific Styles ---- */
.inner {
  padding: 20px 0px;
}

.contained {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mQ(768px) {
    width: 750px;
  }
  @include mQ(992px) {
    width: 970px;
  }
  @include mQ(1260px) {
    width: 1200px;
  }
}

.logo {
  max-width: 100%;
  height: auto;
}

.support, .contact {
  display: none;
  @include mQ(992px) {
    display: flex;
  }
}

.support {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  user-select: none;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  height: 56px;
  line-height: 46px;
  font-size: 1.125rem;
  .support:hover {
    color: #fff;
    background-color: #2A6EC6;
    border-color: #2A6EC6;
  }
}

.search-bar-input {
  font-size: 14px;
  color: #555;
}

.search-bar-input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 1px #00000013;
}

.search-bar-input {
  padding: 15px 5px;
  border-color: #ccc;
  height: 56px;
  @include mQ(768px) {
    border-radius: 0px;
    width: 174px;
  }
  @include mQ(992px) {
    display: none;
    width: 300px;
  }
  @include mQ(1260px) {
    display: flex;
    width: 240px;
    border-radius: 0px;
  }
}

.search-bar-button {
  outline: none;
  padding: 7px 20px 3px;
  height: 56px;
  font-size: 1.063rem;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: bottom;
  background-color: #999aa2;
  color: #fff;
}

.icon-mouse, .icon-paperplane {
  margin-right: 5px;
  font-size: 1.438rem;
  line-height: 45px;
}

.search-bar {
  display: none;
  @include mQ(768px) {
    display: flex;
  }
}

#icon-phone:link {
  text-decoration: none;
}

#icon-phone:visited {
  text-decoration: none;
}

#icon-phone:hover {
  color: #121419;
  text-decoration: underline;
}

#icon-phone:active {
  text-decoration: none;
}

.icon-phone_in_talk {
  font-size: 2rem;
  color: #121419;
  margin-left: 15px;
  @include mQ(768px) {
    display: none;
  }
}

.item-menu:hover {
  background-color: #22242E;
  border-color: #22242E;
}

.title {
  display: block;
  font-size: .75rem;
  line-height: 1;
  position: bottom;
  top: 5px;
  margin-bottom: 0;
}

.mob-search-container {
  margin-top: 11px;
  @include mQ(768px) {
    display: none;
  }
}

.mob-search-bar-form-control, output {
  font-size: 14px;
  color: #555;
}

.mob-search-bar-form-control {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px #00000014;
  height: 47px;
  padding: 5px 15px;
}

.mob-search-bar-form-control {
  border-color: #ccc;
}

.mob-search-bar-form {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 40px;
  width: 100%;
}

.mob-search-button {
  background: none;
  border: none;
  color: #333645;
  position: absolute;
  right: 16px;
  line-height: 47px;
  outline: none;
}

.icon-magnifying-glass {
  font-size: 25px;
  vertical-align: middle;
}

.spare {
  box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 1px 0px inset;
  /* search bar form control, output */
  line-height: 1.42857143;
  /* search bar form control 1 */
  background-image: none;
  height: 47px;
  /* search bar form */
  width: 80%;
  margin: 0px;
  transition: none;
  .spare > button {
  overflow: visible;
  }
  /* search submit 1 */
  width: 20%;
  position: absolute;
  right: 5px;
  background: none;
  line-height: 47px;
  /* mobile search bar */
  width: 100%;
}