// Imports

@import 'mixins.scss',
        'variables.scss';

/* ================================= 
            Clients Small Styles
==================================== */
.sc-logos {
    display: none;
}
@media screen and (min-width: 768px) {
    .sc-logos {
        display: block;
    }

    .small-client-flex {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .sc-item {
        flex-grow: 1;
        vertical-align: middle;
        padding: 0 20px;
        position: relative;
    }

    .sc-item img {
        max-width: 100%;
        height: auto;
    }
}