//Variables Library

$white: #fff;
$green: #2ECC71;
$blue: #4183d7;
$grey: #999aa2;
$red: #D64541;
$purple: #926FB1;
$pink: #F62459;
$dgrey: #67809F;
$dblue: #2A6EC6;
$dgrey: #67809F;
$lgrey: #ccc;
$bgcolorprimary: #333645;
$dprimary: #22242E;