/* ================================= 
  Importing Partials - Flexbox.scss
==================================== */
/* ================================= 
  Mixins - Mixins.scss
==================================== */
/* ================================= 
  Flexbox Styles - Flexbox.scss
==================================== */
/* ---- Header Specific Styles ---- */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    width: 100%;
  }
}

.mob-search-container {
  margin: 11px 33px 21px 33px;
}

@media screen and (min-width: 768px) {
  .mob-search-container {
    display: none;
  }
}

/* ---- Banner Specific Styles ---- */
#banner {
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#middle {
  display: block;
  background-color: #fff;
  width: auto;
  height: auto;
}

.three-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .three-blocks {
    flex-wrap: nowrap;
  }
}

#mid-block {
  width: 100%;
}

@media screen and (min-width: 992px) {
  #mid-block {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.four-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.four-blocks > a {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .four-blocks > a {
    width: 48.5%;
  }
}

@media screen and (min-width: 1260px) {
  .four-blocks > a {
    width: 23%;
  }
}
