/* ================================= 
  Importing Partials - Flexbox.scss
==================================== */

@import 'mixins.scss';

/* ================================= 
  Flexbox Styles - Flexbox.scss
==================================== */

/* ---- Header Specific Styles ---- */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
  @include mQ(768px) {
    width: 100%;
  }
  @include mQ(992px) {
    width: 100%;
  }
  @include mQ(1260px) {
    width: 100%;
  }
}

.mob-search-container {
  margin: 11px 33px 21px 33px;
  @include mQ(768px) {
    display: none;
  }
}

/* ---- Banner Specific Styles ---- */


#banner {
  background-color: #000;
  height: 100%;
  width: 100%;
  z-index: 1;
}

// Middle specific styles

#middle {
  display: block;
  background-color: #fff;
  width: auto;
  height: auto;
}

.three-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include mQ(992px) {
    flex-wrap: nowrap;
  }
}

#mid-block {
  width: 100%;
  @include mQ(992px) {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.four-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.four-blocks > a {
  width: 100%;
  @include mQ(768px) {
    width: 48.5%;
  }
  @include mQ(1260px) {
    width: 23%;

  }
}